:root {
    --blue-nav:rgb(27, 114, 232);
    --color-grey:rgb(229, 229, 229);
}
body {
    height: 100vh;
}

header {
    max-height: 100px;
    flex-shrink: 0;
}
.sidebar {
    background-color: rgb(16, 40, 61);

    flex-shrink: 0;
}
.blue-nav-bar {
    background-color: var(--blue-nav);
    flex-shrink: 0;
}
.orange {
    color: orange;
}
.nav-width {
    width: 100%;
} 
.logo {
    width: 50px;
}
.up ul li, .down ul li  {
    list-style: none;
    margin-bottom: 10px;
}
.up li a, .down li a {
    text-decoration: none;
    color: white;
}

.up ul li span, .down ul li span {
    margin-left: 8px;
} 
.sidebar ul {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}